# URL DOMAINE 
WORDPRESS_URL_SITE=
# Port config
IP=
PORT=
# Configuration MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
# Configuration PhpMyAdmin
UPLOAD_LIMIT=50M
# Configuration WordPress
WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_USER=${MYSQL_USER}
WORDPRESS_DB_PASSWORD=${MYSQL_PASSWORD}
WORDPRESS_DB_NAME=${MYSQL_DATABASE}
# NGINX
NGINX_SERVER_NAME=${WORDPRESS_URL_SITE}
NGINX_PORT=${PORT}

